* {
    margin: 0;
    padding: 0;
   
    
  }
  
  body {
    padding: 1rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    
  }
  
  form {
    width: 350px;
    border: 1px solid grey;
    padding: .5rem;
  }
  
  .input-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1.5rem auto;
  }
  
  .input-inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .caja-principal {
   display: grid;
  grid-template-columns: auto auto auto;
  
  }
  
  li {
    list-style: none;
    border: 3px solid rgb(122, 122, 122);
    margin: 1rem auto;
    padding: 2rem;
    background-color:rgb(236, 236, 240);
    border-radius: 10px;
    box-shadow:15px 15px 15px rgba(3, 3, 3, 0.384);
  }
  li > h4 {
    font-weight: 400;
    padding: 15px;
  }
  li span {
    font-weight: bold;
   
  }
   .status{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border:1px solid;
   }
   .ch{
    display: flex;
    gap: .5rem;
    align-items: center;
    border-radius: 10px;
    border: 2px solid rgb(122, 122, 122);
   }
   .ch1{
    display: flex;
    gap: .5rem;
    align-items: center;
   }
   .ch3{
    display: flex;
    gap: .5rem;
   align-items: center;
   }

   .products{
    display: flex;
    flex-direction: column;
    margin: 1.5rem auto;
    padding: 15px;
    background-color:rgb(103, 140, 250);
    font-size: 20px;
    border-radius: 10px;
    color: white;
    border: none;
   }
   .products:hover {
    transform: translateY(-4px);
    background-color: #0303ac;
    
  }
   .eliminar{
    display: flex;
    flex-direction: column;
    margin: .5rem auto;
    padding: 10px;
    background-color: rgb(241, 105, 105);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
   }
   .eliminar:hover {
    transform: translateY(-4px);
    
    background-color: rgb(247, 2, 2);
  }
   .editar{
    display: flex;
    flex-direction: column;
    margin: .5rem auto;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(199, 199, 199);
   }
   .editar:hover {
    transform: translateY(-4px);
    background-color: #9191a6;
  
  }
   .agregar{
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color:rgb(103, 140, 250);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    
   }
   
.agregar:hover {
  transform: translateY(-4px);
  background-color: #9191a6;

}

   @media (max-width: 768px) {
.caja-principal {
      display: grid;
     grid-template-columns: auto 
     
     }
    }
   